<app-filter (emitSelectedFilter)="receiveCategory($event)"></app-filter>
<app-search (emitSearchedText)="receiveSearchedText($event)"></app-search>
<app-tools></app-tools>
<app-note [selectedCategoryId]="categoryId" [searchedText]="searchedText"></app-note>