h1{
    background-color: red;
    max-width: 300px;
    text-align: center;
}

.add-note-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    background-color: burlywood;
}

.title-area,.desc-area{
    background-color:blanchedalmond;
}

.add-btn{
    background-color: cornflowerblue;
}

.options{
    background-color:bisque;
    color: black;
    text-align: center;
}

select{
    width:100%;
    border:none;
    background-color: blanchedalmond;
}

input,textarea{
    height: 40px;
    font-size: medium;
}