<h1 *ngIf="parameter == 'add'">Add a note</h1>
<h1 *ngIf="parameter != 'add'">Edit note</h1>

<div class="add-note-form" *ngIf="parameter == 'add'">
    <mat-form-field>
        <a>Title</a>
       <input class="title-area" matInput [(ngModel)]="noteTitle"/>
   </mat-form-field>

   <mat-form-field>
        <a>Description</a>
        <textarea class="desc-area" matInput [(ngModel)]="noteDescription"></textarea>
   </mat-form-field>

   <mat-form-field>
       <mat-label>Choose a category </mat-label>
       <select *ngIf="categories" [(ngModel)]="selectedCategoryId">
           <option class="options" *ngFor="let category of categories" [(ngModel)]="category.id">{{category.name}}</option>
       </select>
   </mat-form-field>

<button class="add-btn" mat-button (click)="addNote()">Add</button>
</div>

<div class="add-note-form" *ngIf="parameter != 'add'">
     <mat-form-field>
         <a>Title</a>
        <input class="title-area" matInput [(ngModel)]="noteTitle"/>
    </mat-form-field>

    <mat-form-field>
        <a>Description</a>
        <textarea class="desc-area" matInput [(ngModel)]="noteDescription"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose a category </mat-label>
        <select *ngIf="categories" [(ngModel)]="selectedCategoryId">
            <option class="options" *ngFor="let category of categories" [(ngModel)]="category.id">{{category.name}}</option>
        </select>
    </mat-form-field>

<button class="add-btn" mat-button (click)="editNote()">Save</button>
</div>