<div class="filter-container">
    <div class="filter-div" *ngFor="let category of categories">
        <button mat-raised-button color="primary" (click)="selectFilter(category.id)">
            {{category.name | uppercase}}
        </button>
    </div>
</div>