
  <div *ngFor="let note of notes" class="existing-notes-div">
    <form class="note-form">
      <mat-card class="note-card">
        <mat-card-header>
          <mat-card-title>	
              {{note.title}}
          </mat-card-title>	
        </mat-card-header>

        <mat-card-content>
             <p>{{note.description}}</p>
        </mat-card-content>

        <mat-card-content class="note-buttons">
          <button mat-button (click)="editNote(note.id)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-button (click)="deleteNote(note.id)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-card-content>

      </mat-card>
    </form>
  </div>