body {
    font-size: x-large;
    font-family: 'Brush Script MT', cursive;
    background-color: #06164d;
}

body > div {   
    background-color: #fabb5a;
    margin-left: 20%;
    margin-right: 40%;
}

header {
    margin-left: 30px;
    color: #135fd1;
}

header + div {
    margin-top: 5%;
    margin-left: 30px;
}

input,select,textarea
{
    width: 30%;
    border-style: groove;
    border-width: 2px;
    display: block;
}

input,select,button{
    height: 30px;
}

input {
    background-color: #fabb5a;
}

label {
    margin-top: 10px;
    display: block;
}

select {
    background-color: #fabb5a;
}

option {
    font-family: 'Brush Script MT', cursive;
    font-size: medium;
    height: 20px;
}

textarea {
    height: 225px;
    background-color: #fabb5a;
    font-size: large;
    font-family: 'Brush Script MT', cursive;
}

button {
    margin-top: 30px;
    margin-right: 5%;
    border-radius: 8px;
    border-width: 0px;
    width: 90px;
    background-color: #135fd1;
    font-size: large;
    font-family: 'Brush Script MT', cursive;
    
}

footer {
    margin-top: 15%;
}