<div>
    <div *ngFor="let element of elements let i=index; let even=even; " >
        <p *ngIf="!even && compareDates(element.date)">
            The id is: {{element.id}}<br>
            The content is: {{element.content | stringModif:element.content | uppercase }}<br>
            The index is: {{i}}<br>
            The date is: {{element.date | date}}
        </p>
        <div *ngIf="!even && compareDates(element.date)" appMyDirective>color to be changed </div>
        <br>
    </div>
</div>
