.notes{
      display:flex;
      justify-content:space-evenly;
      margin-top: 50px;
}
.add-note-card {
      max-width: 150px;
      min-width: 150px;
      min-height: 150px;
      max-height: 150px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aquamarine;
      margin: 20px;
  }