<!-- <p [style.color]='titleColor'>{{title}}</p>
<p> Note content is:{{noteContent}}</p>
<input type="text" [(ngModel)]='noteContent'>
<button mat-icon-button (click)='setTitle()'><mat-icon>add</mat-icon></button>
<mat-form-field>
    <input matInput placeholder="Add Note">
</mat-form-field>

<br>
<p [style.background]='titleBackgroundColor'>Titlu</p>
<input id="inputColor" type="text" [(ngModel)]='color'>
<button mat-icon-button (click)='setBackgroundColor()'>Set Background</button>
<br><br> -->
<mat-card class="add-note-card" routerLink="app-add-note">
    <button mat-icon-button (click)="toAddNote()"><mat-icon>add</mat-icon></button>
</mat-card>