<!-- <app-dum1></app-dum1>
<app-dum2></app-dum2>
<app-comp1></app-comp1>
<p>
    Ceva {{text | uppercase}}
</p>

<p>
    Data: {{dataTest | date:"longTime"| lowercase }}<br>
    My num is: {{myNumber | addValue:12}}
</p> -->

<!-- <app-app2></app-app2> -->

<router-outlet></router-outlet>